.row
  .col-md-6
    = simple_form_for @farm, html: { multipart: true } do |f|
      = f.error_notification

      = image_tag @farm.image_url, class: 'img-responsive' if @farm.image?
      = f.file_field :image
      = f.hidden_field :image_cache
      = f.input :name
      = f.input :address
      = f.input :zip_code
      = f.input :place

      = f.button :submit
