= simple_form_for @farm, html: { multipart: true } do |f|
  = f.error_notification
  .row
    .col-md-6
      %h3 Farm
      = image_tag @farm.image_url, class: 'img-responsive' if @farm.image?
      = f.file_field :image
      = f.hidden_field :image_cache
      = f.input :name
      = f.input :address
      = f.input :zip_code
      = f.input :place
    .col-md-6
      %h3 Products
      #products
        = f.simple_fields_for :products do |product|
          = render 'product_fields', f: product
        .links
          = link_to_add_association 'add product', f, :products
  .row
    .col-md-12
      = f.button :submit
