= simple_form_for @farm, html: { multipart: true } do |f|
  - if f.error_notification.present?
    .row
      .col-md-12
        = f.error_notification
  .row
    .col-md-12
      = image_tag @farm.image_url, class: 'img-responsive' if @farm.image?
      = f.file_field :image
      = f.hidden_field :image_cache
    .col-md-12
      = f.input :name
    .col-md-12
      = f.input :address
    .col-md-4.col-sm-4.col-xs-4
      = f.input :zip_code
    .col-md-8.col-sm-8.col-xs-8
      = f.input :place
  .row
    .col-md-12
      %h3 Products
      #products
        = f.simple_fields_for :products do |product|
          = render 'product_fields', f: product
        .links
          = link_to_add_association 'add product', f, :products
  .row
    .col-md-12
      = f.button :submit
