= simple_form_for @farm, html: { multipart: true } do |f|
  - if f.error_notification.present?
    .row
      .col-md-12
        = f.error_notification
  .row
    .col-md-12
      = f.input :image, as: :image_preview
    .col-md-12
      = f.input :name
    .col-md-12
      = f.input :address
    .col-md-4.col-sm-4.col-xs-4
      = f.input :zip_code
    .col-md-8.col-sm-8.col-xs-8
      = f.input :place
  .row
    .col-md-12
      %h3 Products
  #products
    = f.simple_fields_for :products do |product|
      = render 'product_fields', f: product
  .row
    .col-md-12
      .links
        = link_to_add_association 'add product', f, :products, class: 'btn btn-success'
  .row
    .col-md-12
      = f.button :submit
