#map

.container
  .row
    %table.table
      %thead
        %tr
          %th= t_attr :name
          %th= t_attr :address
          %th= t_attr :place
          %th= t_attr :products

      %tbody
        - @farms.each do |farm|
          %tr
            %td= link_to farm.name, farm_path(farm)
            %td= farm.address
            %td
              = farm.zip_code
              = farm.place
            %td
              = farm.products.map(&:name).join(', ')

:javascript
  $( document ).ready(function() {
    initMap()
  })
