.container
  .row
    .col-md-12
      %h3 Saisonprodukte zeigt dir, welche Höfe in deiner Nähe sind und was diese Höfe momentan verkaufen.
      %p
        %strong Bist du Landwirt?
        Registriere dich auf unserer Webseite und zeig deinen Kunden, welche Produkte gerade aktuell sind.
        %br
        Dein Vorteil – eine gratis Webseite, welche immer auf dem neusten technologischen Stand ist- eine Möglichkeit auf einfache Art und Weise von deinen Kunden gefunden zu werden –
        Ein erster Schritt, ohne Direktzahlungen auszukommen. Unabhängigkeit kann so schön sein

#map

.container
  .row
    %table.table
      %thead
        %tr
          %th= t_attr :name
          %th= t_attr :address
          %th= t_attr :place
          %th= t_attr :products

      %tbody
        - @farms.each do |farm|
          %tr
            %td= link_to farm.name, farm_path(farm)
            %td= farm.address
            %td
              = farm.zip_code
              = farm.place
            %td
              = farm.products.map(&:name).join(', ')

:javascript
  $( document ).ready(function() {
    initMap()
  })
