- content_for :farm_image do
  farm-image

- content_for :background_image do
  = "background-image: url(#{@farm.image_url})"
  
.plate-wrapper
  .text-center
    .plate
      %h3= t('.welcome')
    .plate
      %h1
        = @farm.name
      %h4
        = @farm.address
      %h4
        = @farm.zip_code
        = @farm.place
    - if @farm.latitude.present? && @farm.longitude.present?
      .plate
        = link_to "https://maps.google.com/?q=#{@farm.full_street_address}", target: '_blank' do
          = image_tag google_maps_image(@farm.latitude, @farm.longitude), class: 'img-responsive'

    - if @farm.products.exists?
      .plate
        %h3= t '.products'
      - @farm.products.each do |product|
        .plate
          %h3
            %strong
              = product.name
