%nav.navbar{ class: "#{ 'navbar-default' if current_user.present? }" }
  .container-fluid
    .navbar-header
      = link_to 'Saison Produkte', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          - if current_user.farm.persisted?
            %li
              = link_to 'Edit', edit_farm_path(current_user.farm)
          %li
            = link_to 'Logout', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to 'Register', new_user_registration_path
          %li
            = link_to 'Login', new_user_session_path
